{% extends 'base.html' %}
{% block content %}

<h1>Planet Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ planet.name }}</span>
        <p>Namesake: {{ planet.namesake }}</p>
        <p>Orbital Period: {{ planet.orbital_period }} Earth Years</p>
        <p>Description: {{ planet.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'planets_update' planet.id %}">Edit</a>
        <a href="{% url 'planets_delete' planet.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_moon' planet.id %}" method="POST">
      {% csrf_token %}
      {{ moon_form.as_p }}
      <input type="submit" class="btn" value="Add Moon">
    </form>
  </div>
  {% for moon in planet.moon_set.all %}
  <div class="col s6">
    <div class="card">
      <div class="card content">
        <span class="card-title">{{moon.name}}</span>
        <p>Namesake: {{ moon.namesake }}</p>
        <p>Orbital Period: {{ moon.orbital_period }} Earth Days
        </p>
        <p>Description: {{ moon.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Resources on {{ planet.name }}</h3>
    {% if planet.resources.count %}
      {% for resource in planet.resources.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ resource.mineral }}</span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Resouces Documented Yet :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Documented Resources</h3>
    {% if resources.count %}
      {% for resource in resources.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ resource.mineral }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_resource' planet.id resource.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No more known resources on {{planet.name}}</h5>
    {% endif %}
</div>

{% endblock %}